 @media screen and (min-device-width:360px) and (max-device-width:900px){ 

 	h1 {
 		font-size: 40px;
 		font-color: blue;
 	}

 	#Simage {
 		width: 100%;
 	}
 	 img[name="Slogo"] {
 		width: 45px;
 		height: 25px;
 	}


 	#Sconnex {
 		width: 100%;
 		float: right;
 		display: inline-block;	 
 		padding: 0.3rem 1rem;

	} 

 	input[name="login"] {
 		height: 20%;
 		width: 35%;
 		font-size: 70%;
 		display: inline;
 		

 	}
 	input[name="password"] {
 		height: 20%;
 		width: 35%;
 		font-size: 70%;
 		display: inline;

 		
 	}
 	button[name="Connexion"]{
 		height: 10%;
 		width: 25%;
 		font-size: 50%;
 		margin-top: 0.6%;
 		float: right;
 	
 	}


 	tbody {
 		
 		font-size: 75%;
 	}
 	thead {
 		
 		font-size: 80%;
 	}

 	input.button {
 		width: 50px;
 	}


 }

 @media screen and (min-device-width:336px)and (max-device-width:359px){ 
 	a {
 		font-size: 80%;
 	}
 	h1 {
 		font-size: 30px;
 		font-color: blue;
 	}

 	#Simage {
 		width: 100%;
 	}
 	img[name="Slogo"] {
 		width: 40px;
 		height: 20px;
 	}

 	#Sconnex {
 		width: 100%;
 		float: right;
 		display: inline-block;	 
 		padding: 0.3rem 1rem;
	} 


 	input[name="login"] {
 		height: 20%;
 		width: 35%;
 		font-size: 70%;
 		display: inline;
 	
 	}
 	input[name="password"] {
 		height: 20%;
 		width: 35%;
 		font-size: 70%;
 		display: inline;

 		
 	}
 	button[name="Connexion"]{
 		height: 10%;
 		width: 25%;
 		font-size: 50%;
 		margin-top: 0.6%;
 		float: right;
 	
 	}

 	tbody {
 		
 		font-size: 70%;
 	}
 	thead {
 		
 		font-size: 70%;
 	}

 }

  @media screen and (max-device-width:335px) { 
 	a {
 		font-size: 80%;
 	}
 	h1 {
 		font-size: 30px;
 		font-color: blue;
 	}

 	#Simage {
 		width: 100%;
 		 	}
 	img[name="Slogo"] {
 		width: 40px;
 		height: 20px;
 	}

 	#Sconnex {
 		width: 100%;
 		float: right;
 		display: inline-block;	 
 		padding: 0.3rem 1rem;
	} 


 	input[name="login"] {
 		height: 20%;
 		width: 35%;
 		font-size: 70%;
 		display: inline;
 	
 	}
 	input[name="password"] {
 		height: 20%;
 		width: 35%;
 		font-size: 70%;
 		display: inline;

 		
 	}
 	button[name="Connexion"]{
 		height: 10%;
 		width: 25%;
 		font-size: 50%;
 		margin-top: 0.6%;
 		float: right;
 	
 	}

 	tbody {
 		
 		font-size: 56%;
 	}
 	thead {
 		
 		font-size: 60%;
 	}

 }